* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppis", sans-serif;
}

body {
  /* background: #f9f9f9; */
  min-height: 100vh;
  overflow-x: hidden;
}

#project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow: hidden;
}

#project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#text {
  position: absolute;
  font-size: 5em;
  z-index: 2;
  color: purple;
  text-transform: initial;
}

#about {
  height: 300vh;
  /* background-color: #003329; */
}
#mine {
  position: absolute;
  font-size: 2em;
  /* color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2); */
}

.logo {
  font-size: 2em;
  color: #000000;
  margin-right: 270px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
}

.container {
  margin: 100px 5%;
  background-color: red;
  justify-content: space-between;
}
.wrap-img {
  width: 100%;
}
.wrap-img {
  width: 100%;
}
.card-one {
  width: 25%;
  background-color: bisque;
  padding: 10px;
  border-radius: 12px;
}
.text-card button {
  padding: 12px 20px;
  background-color: #4c6fff;
  border-radius: 12px;
  color: #e2e2e2;
  border: none;
}
.text-card {
  padding: 12px;
}
.text-card {
  margin: 12px 0;
  color: grey;
}
@media (min-width: 391px) {
  .navigation {
    display: block;
  }
}

/* .logo {
    font-size: 2em;
    color: #359381;
    margin-right: 270px;
} */

.navigation a {
  /* background-color: blueviolet; */

  text-decoration: none;
  color: #e2e2e2;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background: #ff00d4;
  color: #fff;
}
